<div>
<div class="header">
    <h1>Chat {{this.chatName}} </h1>
</div>
<div class="chat-box">
        <ul style="list-style-type: none;">
            <li style="padding-bottom: 10px;" *ngFor="let message of chat; let i = index">
                <div *ngIf="message.sender==this.chatName" class="msg sent" attr.sender-time="{{message.sender}} {{message.time}}">
                    {{message.content}}
                </div>
                <div *ngIf="message.sender!=this.chatName" class="msg rcvd" attr.sender-time="{{message.sender}} {{message.time}}">
                    {{message.content}}
                </div>
            </li>
        </ul>
</div>
<section>
    <textarea [(ngModel)]="this.textContent" placeholder="Say Something :)"
        (keyup.enter)="addMessage()"></textarea>
    <button (click)="addMessage()" mat-raised-button>Send</button>
</section>
</div>